.main__container {
  margin: 0 auto;
  width: 410px;
  height: 310px;
  justify-content: center;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: rgb(57, 149, 185);
}

